.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.btn {
  background-color: #4ECCA3;
  border-radius: 30px;
  border: #232931;
  margin-top: 25px;
  font-size: 30px;
  font-family: 'Indie Flower', cursive;
}

.btn:hover {
  background-color: #4ECCA3;
  border-radius: 30px;
  border: #232931;
  margin-top: 25px;
  font-size: 30px;
  font-family: 'Indie Flower', cursive;
  cursor: pointer;
}

.icon {
  font-size: 20px;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #393E46;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 120px;
  color: #4ECCA3;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}

@media (max-width: 500px) {
  .btn {
    background-color: #4ECCA3;
    border-radius: 30px;
    border: #232931;
    margin-top: 0px;
    font-size: 30px;
    font-family: 'Indie Flower', cursive;
  }

  .icon {
    font-size: 20px;
  }

  h1 {
    margin: 30px;
    font-family: 'Lobster', cursive;
    text-shadow: 5px 0 #232931;
    font-size: 50px;
    color: #4ECCA3;
  }


  p {
    font-size: 1rem;
    color: #4ECCA3;
    font-family: 'Indie Flower', cursive;
  }

  footer {
    margin-top: 26%;
    color: #EEEEEE;
    font-size: 20px;
    text-align: center;
    font-family: 'Indie Flower', cursive;
  }

  img {
    width: 30%;
    height: 30%;
  }
}